spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:~/test
    username: sa
    password:
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate.format_sql: true
  output:
    ansi.enabled: always

server:
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true