spring:
  h2:
    console:
      enabled: true

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        query.in_clause_parameter_padding: true
        hbm2ddl:
          auto: create-drop
        format_sql: true
#  profiles:
#    active: local

logging.level:
  org.hibernate.SQL: debug

server:
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
    context-path: /bbs
