spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:~/spring-board
    username: sa
    password:

  jpa:
    generate-ddl: true
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        hbm2ddl:
          auto: create-drop
        format_sql: false

    database: h2